
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f4f3fe;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  &:first-child {
    width: min-content;
  }
}


.table-container {
  height: 700px;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-empty {
  background-color: #dcf6ff;
  text-align: center;
  height: 100%;
  h2:first-child {
    margin: 48px 0 ;
  }
}

.table-overflow {
  overflow: auto;
}
