header {
  background-color: aqua;
  height: 28px;
}

aside {
  width: 200px;
  height: 300px;
  border: 1px saddlebrown solid;
  flex: 0 0 200px;
}

.wrapper {
  display: flex;
}

.aside__btn {
  width: 100%;
  background-color: rgb(240, 225, 207);
  margin: 8px 0;

}

section {
  flex: 1 1 100%;
  background-color: rgb(215, 250, 220);
}

footer {
  text-align: center;
  background-color: #f7fbee;
}
